* {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    opacity: 1;
    transition: 0.7s opacity;
}

body.fade {
    opacity: 0;
    transition: 0.7s opacity;;
}

.header {
    display: flex;
    justify-content: space-evenly;
    margin:20px;
    margin-bottom: 50px;
}

.subhead {
    width: 30%;
    padding: 20px;
    margin: 15px;
    border: ridge;
    border-radius: 30px;
    text-align: center;
}

.subhead:hover {
    background-color: lightcoral;
    color: white;
    transition: all .3s ease;
}

.current {
    width: 30%;
    padding: 20px;
    margin: 15px;
    border: groove;
    border-radius: 30px;
    text-align: center;
    background-color: lightpink;
}

.bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;   
}

.bioname {
    font-size: 20px;
}

.biotitle {
    font-size: 18px;
    font-weight: bold;
}

.biopic {
    width: 35%;
    margin: 20px;
    text-align: center;
}

.biopara {
    width: 35%;
    margin: 20px;
    
}

.projects {
    
    justify-content: space-evenly;
}



.info {
    text-align: center;
    border: ridge;
    border-radius: 30px;
    padding: 30px;
    margin: 20px;
}


.left {
    margin-right: 2px;
}

.right {
    margin-left: 2px;
}

.slide-in {
    opacity: 0;
    transition: all .5s;
}

.left.slide-in {
    transform: translateX(-30%) scale(0.95);
}

.right.slide-in {
    transform: translateX(30%) scale(0.95);
}

.slide-in.active {
    opacity: 1;
    transform: translateX(0%) scale(1);
}
@media screen and (min-width: 768px) {
    .projects {
        display: flex;
    }

    .info {
        width: 40%;
        
    }
}

.social-panel-container {
	position: fixed;
	right: 0;
	bottom: 80px;
	transform: translateX(100%);
	transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
	transform: translateX(-10px);
}

.social-panel {	
	background-color: #fff;
	border-radius: 16px;
	box-shadow: 0 16px 31px -17px rgba(0,31,97,0.6);
	border: 5px solid #001F61;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Muli';
	position: relative;
	height: 169px;	
	width: 370px;
	max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
	border: 0;
	color: #97A5CE;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
}

.social-panel button.close-btn:focus {
	outline: none;
}

.social-panel ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.social-panel ul li {
	margin: 0 10px;
}

.social-panel ul li a {
	border: 1px solid #DCE1F2;
	border-radius: 50%;
	color: #001F61;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	text-decoration: none;
}

.social-panel ul li a:hover {
	border-color: #FF6A00;
	box-shadow: 0 9px 12px -9px #FF6A00;
}

.floating-btn {
	border-radius: 26.5px;
	background-color: #001F61;
	border: 1px solid #001F61;
	box-shadow: 0 16px 22px -17px #03153B;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px;
	position: fixed;
	/* bottom: 20px; */
	/* right: 20px; */
    z-index: 999;
    vertical-align: auto;
}

.floating-btn:hover {
	background-color: #ffffff;
    color: #001F61;
    transition: all .3s ease;
}

.floating-btn:focus {
	outline: none;
}