* {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    opacity: 1;
    transition: 0.7s opacity;
}

body.fade {
    opacity: 0;
    transition: 0.7s opacity;;
}

.header {
    display: flex;
    justify-content: space-evenly;
    margin:20px;
    margin-bottom: 50px;
}

.subhead {
    width: 30%;
    padding: 20px;
    margin: 15px;
    border: ridge;
    border-radius: 30px;
    text-align: center;
}

.subhead:hover {
    background-color: lightcoral;
    color: white;
    transition: all .3s ease;
}

.current {
    width: 30%;
    padding: 20px;
    margin: 15px;
    border: groove;
    border-radius: 30px;
    text-align: center;
    background-color: lightpink;
}

.bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;   
}

.bioname {
    font-size: 20px;
}

.biotitle {
    font-size: 18px;
    font-weight: bold;
}

.biopic {
    width: 35%;
    margin: 20px;
    text-align: center;
}

.biopara {
    width: 35%;
    margin: 20px;
    
}

.projects {
    
    justify-content: space-evenly;
}



.info {
    text-align: center;
    border: ridge;
    border-radius: 30px;
    padding: 30px;
    margin: 20px;
}


.left {
    margin-right: 2px;
}

.right {
    margin-left: 2px;
}

.slide-in {
    opacity: 0;
    transition: all .5s;
}

.left.slide-in {
    transform: translateX(-30%) scale(0.95);
}

.right.slide-in {
    transform: translateX(30%) scale(0.95);
}

.slide-in.active {
    opacity: 1;
    transform: translateX(0%) scale(1);
}
@media screen and (min-width: 768px) {
    .projects {
        display: flex;
    }

    .info {
        width: 40%;
        
    }
}